.addContactForm {
  width: 400px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  border: 1px solid #004243;
  border-radius: 6px;
  gap: 30px;
}
.label {
  font-size: 22px;
  line-height: 1.5;
  font-weight: 500;
  color: teal;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.addContactButton {
  display: block;
  margin-right: auto;
  margin-right: auto;
  color: teal;
  outline: none;
  font-size: 16px;
  line-height: 1.2;
  font-weight: 500;
  border: 1px solid rgba(5, 5, 5, 0.5);
  border-radius: 6px;
  background-color: #f8f8f8;
  box-shadow: 3px 3px 3px 0 rgba(0, 0, 0, 0.1);
}
.addContactButton:hover,
.addContactButton:focus {
  background-color: teal;
  color: #f8f8f8;
}

.formInput {
  width: 300px;
  height: 40px;
  outline: none;
  border: 1px solid rgba(5, 5, 5, 0.5);
  border-radius: 6px;
  background-color: #f8f8f8;
  padding-left: 10px;
  font-size: 18px;
  letter-spacing: 0.1em;
}
